# Backend API URL - używany TYLKO po stronie serwera Next.js
# W środowisku Docker, użyj nazwy kontenera
API_BASE_URL=http://projektzespolowy_splitpayment:5000

# W środowisku lokalnym, użyj localhost
# API_BASE_URL=http://localhost:5000
