@import "tailwindcss";

@theme {
  --color-custom-green: #57cbab;
  --color-custom-green-dark: #34ad8c;
  --color-custom-green-darker: #2d9679;
  --color-custom-green-hover: #48b89a;
  --color-custom-red: #cb5757;
  --color-custom-red-dark: #b54949;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
